<div class="container">

    <table class="table table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Filtrar:</th>
                <th scope="col" class="col-4">
                  <form class="d-flex" role="search">
                    <div class="input-group">
                      <div class="input-group-text" id="btnGroupAddon">Nombre:</div>
                      <input class="form-control text-center" type="search" [formControl]="filtroNombreControl" aria-label="Search">
                    </div>
                  </form>
                </th>
                <th scope="col" class="col-4">
                  <form class="d-flex" role="search">
                    <div class="input-group">
                      <div class="input-group-text" id="btnGroupAddon">Apellido:</div>
                      <input class="form-control" type="search" [formControl]="filtroApellidoControl" aria-label="Search">
                    </div>
                  </form>
                </th>
                <th scope="col" class="col-4">
                    <form class="d-flex" role="search">
                      <div class="input-group">
                        <div class="input-group-text" id="btnGroupAddon">Tipo:</div>
                        <select class="form-select" [formControl]="filtroTipoControl" aria-label="Default select example">
                            <option selected value="todos">Todos</option>
                            <option value="doctor">Doctor</option>
                            <option value="paciente">Paciente</option>
                        </select>
                      </div>
                    </form>
                </th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nro. Cédula</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Descripción</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Correo</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of personasFiltradas">
                <td scope="row" class="text-center align-middle">{{p._id}}</td>
                <td class="align-middle">{{p.cedula}}</td>
                <td class="align-middle">{{p.nombre}}</td>
                <td class="align-middle">{{p.apellido}}</td>
                <td class="align-middle">{{p.esDoctor ? 'Doctor' : 'Paciente'}}</td>
                <td class="align-middle">{{p.telefono}}</td>
                <td class="align-middle">{{p.email}}</td>
                <td>
                  <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#eliminarModal" (click)="verPersona(p)">Eliminar</button>
                  </div>
                </td>
              </tr>
        </tbody>
    </table>

<h3>Agregar Persona</h3>
<form>
    <div class="mb-3">
      <label class="form-label">Nombre</label>
      <input class="form-control" [(ngModel)]="personaAdd.nombre" name="nombre">
    </div>
    <div class="mb-3">
        <label class="form-label">Apellido</label>
        <input class="form-control" [(ngModel)]="personaAdd.apellido" name="apellido">                         
    </div>
    <div class="mb-3">
        <label class="form-label">Número de Cedula</label>
        <input class="form-control" [(ngModel)]="personaAdd.cedula" name="cedula">                         
    </div>
    <div class="mb-3">
        <label class="form-label">Correo Electrónico</label>
        <input class="form-control" [(ngModel)]="personaAdd.email" name="correo">                         
    </div>
    <div class="mb-3">
        <label class="form-label">Teléfono</label>
        <input class="form-control" [(ngModel)]="personaAdd.telefono" name="telefono">                         
    </div>
    <label class="form-label">Tipo</label>
    <select class="form-select" [(ngModel)]="personaAdd.esDoctor" name="esDoctor">
        <option selected>Elige un tipo</option>
        <option value="false">Paciente</option>
        <option value="true">Doctor</option>
    </select>
    <button (click)="createPersona()" class="btn btn-primary">Crear</button>
  </form>

    <h3>Actualizar Persona</h3>
    <form >
        <div class="mb-3">
            <label class="form-label">Id</label>
            <input class="form-control" [(ngModel)]="personaUpdate._id" name="id" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Nombre</label>
            <input class="form-control" [(ngModel)]="personaUpdate.nombre" name="nombre">
        </div>
        <div class="mb-3">
            <label class="form-label">Apellido</label>
            <input class="form-control" [(ngModel)]="personaUpdate.apellido" name="apellido">                         
        </div>
        <div class="mb-3">
            <label class="form-label">Correo Electrónico</label>
            <input class="form-control" [(ngModel)]="personaUpdate.email" name="correo">                         
        </div>
        <div class="mb-3">
            <label class="form-label">Teléfono</label>
            <input class="form-control" [(ngModel)]="personaUpdate.telefono" name="telefono">                         
        </div>
        <label class="form-label">Tipo</label>
        <select class="form-select" [(ngModel)]="personaUpdate.esDoctor" name="esDoctor">
            <option selected>Elige un tipo</option>
            <option value="false">Paciente</option>
            <option value="true">Doctor</option>
        </select>
        <button (click)="updatePersona()" class="btn btn-primary">Actualizar</button>
    </form>
    </div>


            <div class="modal fade" id="eliminarModal" tabindex="-1">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Eliminar</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <p>¿Eliminar la persona "{{personaUpdated.nombre}}"?</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="limpiarModal()">Cancelar</button>
                      <button type="button" class="btn btn-danger" (click)="eliminar()" data-bs-dismiss="modal">Eliminar</button>
                    </div>
                  </div>
                </div>
              </div>