<div class="container">
    <h1 class="text-center">Bienvenido/a</h1>

  <div class="list-group">
    <a class="list-group-item" routerLink="/categoria">
      <div class="fs-3">Categorías</div>
      Maneje las categorías para agrupar las consultas de los pacientes
    </a>
    <a class="list-group-item" routerLink="/personas">
      <div class="fs-3">Personas</div>
      Administre los datos de los pacientes y los médicos
    </a>
    <a class="list-group-item" routerLink="/turnos">
      <div class="fs-3">Turnos</div>
      Gestione los turnos para las consultas
    </a>
    <a class="list-group-item" routerLink="/fichas">
      <div class="fs-3">Fichas</div>
      Anote los datos sobre las consultas de los pacientes
    </a>
    <a class="list-group-item" routerLink="/reportes">
      <div class="fs-3">Reportes</div>
      Visualice y genere reportes de las fichas médicas
    </a>
  </div>
</div>
